--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
sentence-transformers
crewai
crewai-tools
langchain-community
langchain
langchain-huggingface
langchain-pinecone
pinecone-client
python-dotenv
tavily-python
streamlit
litellm